$white: #ffffff;
$black: #000000;
$background: #f2f2f2; 
$primary: #880E4F;
$primaryDark: #560027;
$primaryLight: #BC477B;
$disabledBackground: #CCCCCC;
$disabledColor: #777777;
$valid: #4CAF50;
$invalid: #EF5350;